.main-container {
  display: flex;
  gap: 20px; /* Espaciado entre el chat y el panel de información */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  flex: 2;
  width: 100%;
  background-image: url('http://192.168.1.119:4200/assets/images/backgrounds/bg_chat.png'); /* Ruta de la imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
}


.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Asegura que los mensajes estén en columna */
}

.message {
  padding: 0px;
  margin: 0px 0;
  border-radius: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: column; /* Permite que los mensajes se apilen verticalmente */

  /* Justificación de los mensajes según su tipo */
  &.self-message {
      justify-content: flex-end; /* Alinea los mensajes propios a la derecha */
  }

  &.other-message {
      justify-content: flex-start; /* Alinea los mensajes ajenos a la izquierda */
  }
}

.message.self {
  align-self: flex-end;
  background-color: transparent;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-content {
  max-width: 100%; /* Mensajes ocupan el 80% del ancho */
  margin: 2px 0;
  padding: 4px 10px 8px 10px;
  border-radius: 12px;
  position: relative; /* Para el pico */
  word-wrap: break-word;

  /* Estilos para mensajes propios */
  &.self-message {
      align-self: flex-end; /* Alinea el mensaje a la derecha */
      background-color: #bcf3c6;
      color: f2f2f2;

      /* Pico hacia la izquierda */
      &:after {
          content: '';
          position: absolute;
          bottom: 10px;
          right: -10px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-left: 10px solid #bcf3c6;
          border-bottom: 10px solid transparent;
      }
  }

  /* Estilos para mensajes de otros */
  &.other-message {
      align-self: flex-start; /* Alinea el mensaje a la izquierda */
      background-color: #f2f2f2;
      color: #5a5a5a;

      /* Pico hacia la derecha */
      &:after {
          content: '';
          position: absolute;
          bottom: 10px;
          left: -10px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-right: 10px solid #f2f2f2;
          border-bottom: 10px solid transparent;
      }
  }
}

.timestamp {
  font-size: 0.7rem;
  color: #5a5a5a;
  margin-bottom: 0px;
}

.message-text {
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 0px;
}

.message-text-delete {
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 0px;
  color:#999999;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

.chat-input button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #007bff;
  color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}


.info-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;

  button {
      margin-bottom: 10px;
  }
}

.documentos {
  flex: 1;
  display: flex;
  flex-direction: column;
  button {
      background-color:#07a807;
      width: 100%;
  }
}

.info-panel h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.info-button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #f2f2f2;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.info-button:hover {
  background-color: #0056b3;
}

.message-actions {
  position: absolute;
  top: -1px;
  right: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #f54242;
}

.delete-menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #ddd;
  border-radius:12px;
  position: absolute;
  top: 10px;
  right: 0;
  padding: 5px;
}

.delete-menu button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.delete-menu button:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
  .main-container {
      flex-direction: column;
      gap: 10px;
  }

  .chat-container {
      width: 100%;
      height: auto;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-image: url('http://192.168.1.119:4200/assets/images/backgrounds/bg_chat.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top:10px;
      height: 80vh;
  }

  .info-panel {
      width: 100%;
      order: 1;
      margin-top: 10px;
  }

  .chat-input {
      flex-direction: column;
  }

  .chat-input button {
      width: 100%;
      margin-top: 10px;
  }
}


.chat-input {
  display: flex;
  align-items: center;
}

button {
  margin-left: 10px; /* Espaciado entre el botón de Enviar y el de Upload */
}

.upload-btn {
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
  color: #007bff; /* Color del ícono de carga */
}

.upload-btn:hover {
  color: #0056b3; /* Cambio de color al pasar el mouse */
}
