a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  a .iconify {
    margin-right: 12px;
    font-size: 1.2rem;
  }
  
  .detalle{
    font-size: 0.8rem !important;
  }

  .texto-grupo{
    font-size:0.8 rem !important;
  }