<div class="table-responsive">
<div *ngFor="let group of groupedEmpresas">
  <ng-container *ngIf="role === 'ADMIN'; else defaultView">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true"> <!-- Establece expanded en true -->
        <mat-expansion-panel-header>
          <div class="p-2" style="font-size: 0.9rem; font-weight: 500;">
            <img [src]="'/assets/images/logos/' + group.logo" alt="{{ group.nombre }} logo" style="width: 145px; height: auto; margin-right: 8px;">
          </div>
        </mat-expansion-panel-header>
        <!-- Tabla dentro del acordeón -->
        <table mat-table [dataSource]="group.usuarios" class="w-100">
          <!-- Usuario -->
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14" style="width:30%;">Usuario</th>
            <td mat-cell *matCellDef="let usuario">
              <span class="mat-subtitle-2 f-s-14 text-secondary">{{ usuario.nombre }}</span>
            </td>
          </ng-container>
  
          <!-- Pedidos -->
          <ng-container matColumnDef="pedidos">
            <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14" style="width:70%;">Pedidos</th>
            <td mat-cell *matCellDef="let usuario">
              <div *ngFor="let pedido of usuario.pedidos" class="d-flex align-items-center" style="margin-top:15px; margin-bottom:10px;">
                <a [routerLink]="['/extra/sample-page', pedido.cod_pedido]" 
                [queryParams]="{
                  det_pedido: pedido.det_pedido, 
                  userId: pedido.id_user, 
                  est_pedido: pedido.est_pedido,
                  pedidoId: pedido.id,
                  roomId: pedido.id_room
                }">
                <i class="iconify icon-20" data-icon="solar:clipboard-add-line-duotone"></i>
                <span class="mat-subtitle-2 f-s-14 text-secondary">{{ pedido.cod_pedido }}</span> 
                <span class="mat-subtitle-2 f-s-14 text-secondary">{{ pedido.det_pedido }}</span>
                </a>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['usuario', 'pedidos']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['usuario', 'pedidos'];"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
  <ng-template #defaultView>
    <div class="group-row text-white p-2" style="font-size: 0.9rem; font-weight: 500; text-align:left">
      <img [src]="'/assets/images/logos/' + group.logo" alt="{{ group.nombre }} logo" style="width: 145; height: auto; margin-right: 8px;">
    </div>
    <div class="form-container m-b-16">
      <form #pedidoForm="ngForm" (ngSubmit)="onGeneratePedido(pedidoForm)">
          <mat-form-field appearance="outline" class="w-80">
              <mat-label>Descripción del Pedido</mat-label>
              <input
              matInput
              name="detPedido"
              ngModel
              required
              placeholder="Ingrese el detalle del pedido"
              />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="w-20">
              GENERAR PEDIDO
          </button>
      </form>
    </div>
    <table mat-table [dataSource]="group.usuarios" class="w-100">
      <!-- Usuario -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14" style="width:30%;">Pedidos</th>
        <td mat-cell *matCellDef="let usuario">
          <div class="d-flex align-items-center" *ngFor="let pedido of usuario.pedidos" style="margin-top:15px; margin-bottom:15px;">
            <a [routerLink]="['/extra/sample-page', pedido.cod_pedido]" 
             [queryParams]="{
               det_pedido: pedido.det_pedido, 
               userId: pedido.id_user, 
               est_pedido: pedido.est_pedido,
               pedidoId: pedido.id,
               roomId: pedido.id_room
             }">
            <i class="iconify icon-20" data-icon="solar:clipboard-add-line-duotone"></i>
            <span class="mat-subtitle-2 f-s-14 text-secondary">{{ pedido.cod_pedido }}</span> 
            <span class="mat-subtitle-2 f-s-14 text-secondary">{{ pedido.det_pedido }}</span> 
            </a>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['usuario']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['usuario'];"></tr>
    </table>
  </ng-template>
</div>            
</div>
<!-- <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="products">
            <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14" style="width:20%;">
                Código
            </th>
            <td mat-cell *matCellDef="let element" style="flex: 0 0 20%;">
                <div class="d-flex align-items-center">
                    <img [src]="element.imagePath" alt="users" width="20" class="rounded-7" />
                    <div class="m-l-16 product-title">
                        <h6 class="mat-subtitle-1 f-s-14 lh-sm">
                            <a href="/extra/sample-page" style="text-decoration:none" class="text-primary">{{ element.uname }}</a>
                        </h6>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14" style="width:65%;">
                Resumen
            </th>
            <td mat-cell *matCellDef="let element" style="flex: 0 0 65%;">
                <h6 class="mat-subtitle-1 f-s-16">{{ element.price }}</h6>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14" style="width:10%;">
                Estado
            </th>
            <td mat-cell *matCellDef="let element" style="flex: 0 0 10%;">
                <span class="bg-light-{{ element.progress }} text-{{
                  element.progress
                }} f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill">
                    {{ element.status | titlecase }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="menu">
            <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14" style="width:5%;"></th>
            <td mat-cell *matCellDef="let element" style="flex: 0 0 5%;">
                <button mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <i-tabler name="plus" class="icon-18"></i-tabler>
                        <span>Agregar</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <i-tabler name="edit" class="icon-18"></i-tabler>
                        <span>Editar</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <i-tabler name="trash" class="icon-18"></i-tabler>
                        <span>Borrar</span>
                    </a>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
-->