
<mat-toolbar class="topbar">
  @if(!showToggle) {
    <button
      mat-mini-fab
      color="inherit"
      (click)="toggleMobileNav.emit()"
      class="d-flex justify-content-center"
    >
      <i
        class="iconify icon-20 d-flex"
        data-icon="solar:hamburger-menu-line-duotone"
      ></i>
    </button>
    }

    



<!--
    <button
      mat-mini-fab
      color="inherit"
      aria-label="Notifications"
      class="d-flex justify-content-center"
      (click)="toggleNotificationPanel()"
      >
      <span
        matBadge="{{ newMessagesCount > 0 ? newMessagesCount : '' }}"
        matBadgeOverlap="false"
        matBadgeSize="small"
        [matBadgeHidden]="newMessagesCount === 0"
      >
        <i class="iconify icon-20 d-flex" data-icon="solar:bell-line-duotone"></i>
      </span>
    </button>
  
    <div
    *ngIf="isNotificationPanelVisible && notifications.length > 0"
    class="notification-panel"
    >
    <ul>
      <li *ngFor="let pedido of notifications">
        <a
          [routerLink]="['/extra/sample-page', pedido.cod_pedido]"
          [queryParams]="{
            det_pedido: pedido.det_pedido,
            userId: pedido.id_user,
            est_pedido: pedido.est_pedido,
            pedidoId: pedido.id,
            roomId: pedido.id_room
          }"
        >
          <strong>{{ pedido.cod_pedido }}</strong> - {{ pedido.det_pedido }}
        </a>
      </li>
    </ul>
    </div>
  -->
  
    <button
    mat-mini-fab
    color="inherit"
    [matMenuTriggerFor]="notificationMenu"
    aria-label="Notifications"
    class="d-flex justify-content-center"
  >
    <span
      matBadge="{{ newMessagesCount > 0 ? newMessagesCount : '' }}"
      matBadgeOverlap="false"
      matBadgeSize="small"
      [matBadgeHidden]="newMessagesCount === 0"
    >
      <i class="iconify icon-20 d-flex" data-icon="solar:bell-line-duotone"></i>
    </span>
  </button>
  
  <mat-menu #notificationMenu="matMenu" class="notification-menu">
    <ng-container *ngIf="notifications.length > 0; else noNotifications">
      <button mat-menu-item *ngFor="let pedido of notifications" (click)="navigateToPedido(pedido)">
        <strong>{{ pedido.cod_pedido }}</strong> - {{ pedido.det_pedido }}
      </button>
    </ng-container>
    <ng-template #noNotifications>
      <button mat-menu-item disabled>No hay notificaciones</button>
    </ng-template>
  </mat-menu>
  
    <button
      mat-fab
      extended
      color="inherit"
      [matMenuTriggerFor]="profilemenu"
      aria-label="Notifications"
      class="d-flex align-items-center profile-btn-dd"
    >
      <img
        src="/assets/images/profile/user-1.jpg"
        class="rounded-circle object-cover profile-dd"
        width="35"
      />
      <span class="profile-text text-primary">{{ nombres }} {{ apellidos }}</span>
    </button>
    <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"
          ><i
            data-icon="solar:shield-user-line-duotone"
            class="iconify icon-22"
          ></i></mat-icon
        >Mi Perfil
      </button>
  
      <div class="p-x-12 m-t-12">
        <a
        (click)="logout()" 
        mat-stroked-button
        color="primary"
        class="w-100"
        >
        Salir
        </a>
  
      </div>
    </mat-menu>
  </mat-toolbar>
